- @title = "You created a structured Serve project!"
%dl
  %dt
    %strong Views & Layouts
  %dd
    Your views are stored in the
    %kbd views
    folder. Coming from a page-based
    scripting language like PHP? Views are just like regular pages. The main layout
    file for this project is stored in
    = succeed "." do
      %kbd layouts/default
  %dt
    %strong Stylesheets, Sass & Compass
  %dd
    This project is pre-configured for
    %a{href: "http://sass-lang.com"} Sass
    and
    = succeed "." do
      %a{href: "http://compass-style.org"} Compass
    %kbd sass
    and
    %kbd scss
    files in the root
    %kbd stylesheets
    folder. Sass
    stylesheets will be automatically compiled to CSS and stored in
    = succeed "." do
      %kbd public/stylesheets
  %dt
    %strong Static Assets
  %dd
    Static assets like images, javascripts, and downloads are stored in the
    %kbd public
    folder. Put files here that don’t need special
    processing by Serve.
.box
  %h6 Other Template Languages
  %p
    If you are interested in using Serve with other template languages like Haml,
    Slim, Markdown, or Textile, remember to edit the project
    %kbd Gemfile
    to include the appropriate gems. Then use
    %a{href: "http://gembundler.com/"} Bundler
    to install them.